@use './variables' as *;
@use './mixin' as *;

// キービジュアル
.c_kv {
  overflow: hidden;
  background-color: #ded6c5;
  aspect-ratio: 3 / 4;

  @include desktop {
    aspect-ratio: initial;
    height: 360px;
  }

  &__inner {
    width: 100%;

    @include desktop {
      max-width: 1024px;
      height: 360px;
      margin: 0 auto;
    }
  }

  // スライドショーのスタイル
}

// セクション
.c_section {
  &__header {
    position: relative;
    padding-top: 20px;
    padding-bottom: 28px;

    @include desktop {
      padding-bottom: 38px;
      margin-bottom: 50px;
    }

    &::before {
      content: '';
      position: absolute;
      width: 60px;
      height: 2px;
      background-color: #9b875a;
      bottom: 0;
      left: 50%;
      // transform: translateX(-50%);
      translate: -50% 0;
    }

    &Title {
      text-transform: uppercase;
      @include fz(16);
      @include font-webfont_Lato;
      text-align: center;

      @include desktop {
        @include fz(30);
      }
    }
  }
}

// カード
.c_cards {
  display: flex;
  flex-wrap: wrap;

  @include touch {
    margin-left: 4px;
    margin-right: 4px;
  }

  @include desktop {
    max-width: 1000px;
    // margin-top: inherit;
    margin-left: auto;
    margin-right: auto;
  }

  &__item {
    width: 32%;
    margin-top: 2%;
    margin-left: 2%;

    @include desktop {
      margin-top: 20px;
      margin-left: 20px;
    }
  }

  // 1行目のスタイル
  &__item:nth-child(-n + 3) {
    margin-top: 0;
  }

  // 1列目のスタイル
  &__item:nth-child(3n+1) {
    margin-left: 0;
  }
}

// 商品詳細
.c_detail {
  @include touch {
    background-color: #fff;
  }

  &__inner {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: column;

    @include desktop {
      flex-direction: row;
      padding-bottom: 80px;
    }
  }

  &__main {
    position: relative;
    width: 100%;
    height: auto;

    @include desktop {
      max-width: 600px;
      margin-top: -20px;
    }
  }

  &__slide {
    // TODO: スライドショーのスタイル
  }

  &__thumbs {
    display: none;

    @include desktop {
      display: block;
      max-height: 100px;
      overflow: hidden;
      width: 100%;
      margin-top: 20px;
    }

    // TODO: スライドショーの設定（サムネイル）

  }

  &__contents {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    margin: 0 20px;

    @include desktop {
      padding-bottom: 70px;
      padding-left: 5%;
      margin: 0 30px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    @include mobile {
      width: 100%;
    }

    @include desktop {
      margin-top: 30px;
    }
  }

  &__title {
    font-weight: bold;
    margin-top: 30px;
    @include fz(20);
    line-height: 1.3;

    @include desktop {
      @include fz(36);
      order: 0;
      margin-top: 10px;
    }
  }

  &__sub {
    @include fz(14);
    margin-top: 10px;
    color: #9b875a;

    @include desktop {
      @include fz(18);
      margin-top: inherit;
      order: -1;
    }
  }

  &__price {
    margin-top: 30px;
    font-weight: bold;
    @include fz(20);
    text-align: end;

    @include desktop {
      @include fz(32);
      margin-top: 50px;
    }
  }

  &__lead {
    @include fz(16);
    line-height: 1.75;
    margin-top: 20px;

    @include mobile {
      @include fz(12);
    }

    @include desktop {
      margin: 60px 0 30px;
      order: 2; // 一番下に表示
    }
  }

  &__btn {
    margin-top: 24px;
    max-width: 314px;

    .e_btn {
      width: 100%;
    }
  }
}

// ポイント
.c_point {
  @include desktop {
    background-color: #fff;
  }

  &__inner {
    @include desktop {
      max-width: 1000px;
      padding-top: 45px;
      padding-bottom: 50px;
      margin: 0 auto;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding: 30px 25px;
    background-color: $color_bg;

    @include desktop {
      padding: 36px 25px;
      margin-top: 40px;
      flex-direction: row;
    }
  }

  &__item {
    padding: 20px;

    @include touch {
      background-color: #fff;
    }

    @include desktop {
      width: calc(100% / 3);
      padding: 0 20px 58px;
    }

    &+& {
      border-top: 2px solid $color_border;

      @include desktop {
        border-top: none;
        border-left: 2px solid $color_primary;
      }
    }

    &Title {
      @include fz(16);
      font-weight: bold;
      line-height: 1.65;

      @include desktop {
        @include fz(24);
        line-height: 1.5;
      }
    }

    &Text {
      margin-top: 10px;
      @include fz(16);
      line-height: 1.5;

      @include mobile {
        @include fz(12);
      }
    }
  }
}

// カート
.c_cart {
  padding-top: 25px;

  &__inner {
    max-width: 800px;
    margin: 0 auto;
  }

  &__item {
    background-color: #fff;

    &+& {
      margin-top: 6px;
    }

    &Link {
      display: flex;
      padding: 20px;
      text-decoration: none;
    }

    &Thumb {
      width: 90px;
      height: 90px;
      overflow: hidden;
      flex-shrink: 0;

      img {
        object-fit: cover;
        width: auto;
        height: 100%;
        max-width: inherit;
      }
    }

    &Body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 20px;
      flex: auto; // flex-grow: 0; flex-shrink: 1; flex-basis: auto;
    }

    &Title {
      margin-top: -4px;
    }

    &Price {
      @include fz(18);
      font-weight: bold;
      text-align: end;
    }
  }

  &__price {
    margin: 20px 20px 0;

    @include desktop {
      margin: 30px 0 0;
    }

    &Item {
      font-weight: bold;
      line-height: 1;
      text-align: end;
      @include fz(30);

      &+& {
        margin-top: 16px;

        @include desktop {
          margin-top: 20px;
        }
      }
    }

    &Text {
      @include fz(16);
      margin-right: 10px;
      font-weight: normal;
    }
  }
}

// ログイン
.c_memberLogin {
  padding-top: 40px;

  @include desktop {
    padding-top: 80px;
  }
}

// フォーム
.c_form {
  margin: 12px 15px 0;

  @include desktop {
    width: 400px;
    margin: 60px auto 0;
  }

  &__group {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    &+& {
      margin-top: 34px;
    }
  }

  &__label {
    margin-bottom: 8px;
    font-weight: bold;
  }

  input[type="text"],
  input[type="password"] {
    padding: 12px 15px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 0;

    &::placeholder {
      color: #666;
    }
  }

  .e_btnWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;

    &__note {
      margin-top: 20px;
      @include fz(12);
    }
  }
}