$sp320: 320px;
$mobile: 720px;
$desktop: 1000px;
$wide: 1280px;
$full: 1440px;

$color_primary: #3e2b00;
$color_secondary: #9b875a;
$color_bg: #ebe9e4;
$color_bg_dark: #a18f67;
$color_border: #ebe9e4;